/* This is the css file for mixtape*/
.small_pill{
	width: 200px;
}

.music_controls{
	width: auto;
	height: 75px;
	background-color: #B8B8B8;
	position: relative;
}

#btnPlay{
	width: 50px;
	border-radius: 20px;
	position: absolute;
	left: 41%;
	top: 15px;
}

#btnBookmark{
	border-radius: 2px;
	padding: 10px;
}

#inputStartTime{
	width: 125px;
	border-radius: 5px;
}

#inputEndTime{
	width: 125px;
	border-radius: 5px;
}

.time_passed{
	width: 50px;
	height: 45px;
	font-weight: bold;
	font-size: 17px;
	position: absolute;
	left: 30%;
	top: 55px;
}

.time_length{
	width: 50px;
	height: 45px;
	font-weight: bold;
	font-size: 17px;
	position: absolute;
	left: 55%;
	top: 55px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bookmark_background{
	position: absolute;
	height: 30px;
	top: 10px;
	left: 10px;
}

.track_background{
	width: auto;
	height: 75px;
	padding-top: 10px;
	position: relative;
}

.track{
	width: 100%;
	height: 2px;
	background-color: #B8B8B8;	
	z-index: 10; /*Below progress bar*/
	position: absolute;
	top: 16px;
}

.progress_bar{
	width: 0px;
	height: 2px;
	background-color: #286090;
	z-index: 30; /*above track*/
	position: absolute;
	top: 16px;
}

.progress_thumb{
	width: 8px;
	height: 12px;
	background-color: #286090;
	z-index: 30; /*above track*/
	position: absolute;
	left:0px;
	border: 1px solid;
}

..list-group {
	overflow: hidden;
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}
.list-group-item:first-child, .list-group-item:last-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
}
.list-group-item {
	border-left: 0px solid rgb(221, 221, 221);
	border-right: 0px solid rgb(221, 221, 221);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-item > .show-menu {
	position: absolute;
	height: 100%; width:24px;
	top: 0px; right: 0px;
	background-color: rgba(51, 51, 51, 0.2);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-item > .show-menu > span {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	padding: 0px 5px;
}
.list-group-submenu {
	position: absolute;
	top: 0px;
	right: -88px;
	white-space: nowrap;
	list-style: none;
	padding-left: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.list-group-submenu .list-group-submenu-item {
	float: right;
	white-space: nowrap;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: rgb(51, 51, 51);
	color: rgb(235, 235, 235);

}

.list-group-header {
	position: absolute;
	top: 0px;
	right: 0px;
	white-space: nowrap;
	list-style: none;
	padding-left: 0px;
	border-radius: 5px;
}

.list-group-header .list-group-header-item {
	float: right;
	white-space: nowrap;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #337AB7;
	color: rgb(235, 235, 235);
	border-radius: 5px;
}


.list-group-item.open {
	margin-left: -88px;
}
.list-group-item.open > .show-menu {
	right: 88px;
}
.list-group-item.open .list-group-submenu{
	right: 0px;
}
.list-group-submenu .list-group-submenu-item.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
}
.list-group-submenu .list-group-submenu-item.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
}
.list-group-submenu .list-group-submenu-item.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
}
.list-group-submenu .list-group-submenu-item.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
}
.list-group-submenu .list-group-submenu-item.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
}
